<div class="info my-3">
  <div class="vstack text-center">
    <h3>
      Tot. personajes: <strong>{{ info?.count }}</strong>
    </h3>
    <h3>
      Página <strong>{{ page }} </strong>de<strong> {{ info?.pages }}</strong>
    </h3>
    <div class="hstack gap-3 justify-content-center">
      <button
        class="btn btn-primary"
        (click)="irInicio()"
        [disabled]="isPrimeraPagina"
      >
        Primera
      </button>
      <button
        class="btn btn-primary"
        (click)="irAnterior()"
        [disabled]="isPrimeraPagina"
      >
        Anterior
      </button>
      <button
        class="btn btn-primary"
        (click)="irSiguiente()"
        [disabled]="isUltimaPagina"
      >
        Siguiente
      </button>
      <button
        class="btn btn-primary"
        (click)="irUltima()"
        [disabled]="isUltimaPagina"
      >
        Última
      </button>
    </div>
  </div>
  
</div>
